body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
 
  .logoimage{
    margin: auto;
    padding-left: 30px;
    padding-top: 40px;
  }

  .dash{
    margin-bottom: -7px;
    margin-left: -5px;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 60px;
    margin-left: 20px;
  }
  .sidebar li {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
  }
  .sidebar li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #D9D8DC;
  }
  .sidebar li img {
    display: inline-block;
    margin-right: 10px;
  }
  .content {
    margin-left: 200px;
    padding: 20px;
  }
  .sidebar li:hover {
    background: #197ED2;
    border-radius: 10px;
    width: 250px;
  }
  .sidebar li.active {
    background: #197ED2;
  }
.side-profile {
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 120px;
}

.side-profile img{
    width: 70px;
    height: 70px;
    margin-left: -80px;
}
.side-profile p{
    font-size: 27px;
    line-height: 36px;
    font-weight: 500;
    color: #FFFFFF;
    margin-left: -80px;
    margin-bottom: 15px;
}
.side-profile a{
    color: #D9D8DC;
    text-decoration: none;
    font-size: 18px;
}
.side-profile .log-out{
    width: 30px;
    height: 20px;
    padding-right: 10px;
    padding-top: 0px;
    margin-bottom: -3px;
}
.footer {
    margin-top: 20px;
    background: #00213C;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
}

.footericon{
background: #0F2B55;
}

.footericon1{
    position: fixed;
    bottom: 10px;
    left: 50px;
}

.footericon2{
    position: fixed;
    bottom: 10px;
    left: 160px;
}

.footericon3{
    position: fixed;
    bottom: 10px;
    left: 270px;
}

.footericon4{
    position: fixed;
    bottom: 10px;
    left: 380px;
}

.footer img {
    margin-bottom: 10px;
    background: #0F2B55;
    border-radius: 7px;
    width: 50px;
    height: 50px;
}

.footer img:hover {
    background: #197ED2;
    border-radius: 7px;
    border-width: 200px;
}
.footer img.active {
    background: #197ED2;
}

/* mobile ---------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:60px) and (max-width:768px){
    .sidebar{
        display: none;
        position: relative;
            top: 0;
            left: 0;
            width: 0;
}



}

/* laptop -----------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:769px) and (max-width:3000px){

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
      }    

    .footer{
        display: none;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 280px;
        height: 100%;
        background: #031837;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
      }

      *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    body{
        background: #082450;
        margin-bottom: 70px;
    }
    
    .container{
        background: #082450;
        width: 100%;
        height: 100%;
        font-family: 'Poppins', sans-serif;
        color: #FFF;
    }

    .coursemgt{
        display: block;
        font-size: 29px;
        font-family: Poppins;
        font-weight: 500;
        margin-left: 38px;
        margin-top: 50px;
    }
    
    .skillup{
        display: none;
    }
    
    .bluedot{
        display: none;
    }
    
    .mouse{
        display: none;
    }
    
    .logo{
       display: none;
    }
    
    .user{
       display: none;
    }
    
    .notify{
        position: absolute;
        top: 48px;
        right: 60px;
        height: 50px;
        width: 50px;
    }
}