* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #031837;
    height: fit-content;
}

.header img {
    color: #fff;
    font-weight: 900;
    font-size: 21px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.border-bottom {
    border-bottom: 1px solid #ffff;
    width: 100%;
    padding: 0 10px;
    margin-top: 5px;
}

.body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.body h2 {
    color: #FFF;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.body p {
    color: #FFF;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.form {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    width: 100%;
}

.form label {
    display: inline-block;
    text-align: left;
    width: 92%;
    font-size: 18px;
    color: var(--gray-5, #E0E0E0);
    margin-bottom: 5px;
}

.form input {
    width: 92%;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #CBC9C9;
    background: #031837;
    color: #FFF;
    margin-bottom: 30px;
}

.form input :placeholder-shown {
    font-size: 18px;
}

.password {
    position: relative;
}

.password span {
    position: absolute;
    right: 6%;
    top: 40%;
    color: white;
    cursor: pointer;
}


.password .forgot {
    color: #197ED2;
    font-size: 16px;
    position: absolute;
    display: inline-block;
    text-align: left;
    margin: 0;
    width: 90%;
    top: 80%;
}

.forgot a{
    text-decoration: none;
    color: #197ED2;
}

.form button {
    width: 292px;
    padding: 16px 32px;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    background: #197ED2;
    border-radius: 8px;
    margin-top: 40px;
    border: none;
    color: #FFF;
}


.span {
    color: #E0E0E0;
    font-size: 18px;
    margin-top: 5px;
    align-items: center;
}

.span a {
    color: #197ED2;
    text-decoration: none;
}

.icons {
    display: none;
}


@media screen and (min-width: 768px) {
    .form {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        margin-top: 70px;
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .form {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        margin-top: 70px;
        width: 50%;
    }

    .icons {
        display: block;
    }

    .light {
        position: absolute;
        position: absolute;
        display: block;
        bottom: 70%;
        left: 10%;
    }

    .code {
        position: absolute;
        display: block;
        right: 10%;
        bottom: 70%;
    }

    .zoom {
        display: block;
        position: absolute;
        position: absolute;
        display: block;
        left: 80%;
        bottom: -8%;
    }

    .bookmark {
        position: absolute;
        display: block;
        bottom: 10%;
        left: 5%;
    }

}