*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
    background: #031837;
    height: fit-content;
}

.header img{
    width: 124px;
    height: 50px;
    color: #fff;
    font-weight: 900;
    font-size: 21px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.border-bottom{
    border-bottom: 1px solid #ffff;
    width: 100%;
    padding: 0 10px;
    margin-top: 5px;
}

.body{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.body h2{
    color: #FFF;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.body p{
    color: #FFF;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.form{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    width: 100%;
}

.form p{
    text-align: left;
    margin-left: 15px;
    font-size: 14px;
    color: var(--gray-5, #E0E0E0);
    margin-bottom: 5px;
}

.email{
    width: 340px;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #CBC9C9;
    background: #031837;
    color: #FFF;
    margin-bottom: 30px;
}


.hidden{
    width: 340px;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #CBC9C9;
    background: #031837;
    color: #fff;
}

.eye{
    position: absolute;
    right: 5%;
    padding-top: 13px;
    padding-right: 10px;
}

.form h3{
    color: #197ED2;
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
    margin-left: 15px;
}

.form button{
    width: 292px;
    padding: 16px 32px;
    align-items: center;
    gap: 4px;
    background: #197ED2;
    border-radius: 8px;
    margin-top: 40px;
    border: none;
    color: #FFF;
}

.span{
    color: #E0E0E0;
    font-size: 18px;
    margin-top: 5px;
    align-items: center;
}

.span a{
    color:#197ED2 ;
    text-decoration: none;
}

.icons{
    position: absolute;
}


.light{
    position: relative;
    left: 290px;
    bottom: 10px;
    width: 61px;
    height: 61px;
}

.documents, .code, .zoom{
    position: relative;
    display: none;
}

.bookmark{
    position: relative;
    left: 10px;
    bottom: 0px;
    width: 61px;
    height: 91px;
}

@media screen and (min-width: 425px){
    

    .email{
        width: 400px;
        align-items: center;
        padding: 16px;
        border-radius: 8px;
        border: 2px solid #CBC9C9;
        background: #031837;
        color: #FFF;
        margin-bottom: 30px;
    }

    .hidden{
        width: 400px;
        align-items: center;
        padding: 16px;
        border-radius: 8px;
        border: 2px solid #CBC9C9;
        background: #031837;
        color: #FFF;
        margin-bottom: 30px;
    }
    .eye{
        right: 6%;
        padding-top: 13px;
        padding-right: 3px;

    }
}

@media screen and (min-width: 768px){
    .header img{
        width: 200px;
    }
    .form{
        justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    width: 60%;
    }
    .email{
        width: 440px;
    }

    .hidden{
        width: 440px;
    }

    .eye{
        right: 20%;
        padding-top: 13px;
        padding-right: 30px;

    }
    
    .documents{
        display: block;
        left: 20px;
        bottom: 200px;
        width: 61px;
        height: 82px;

    } 
    .code{
        display: block;
        left: 675px;
        bottom: 400px;
        width: 51px;
        height: 51px;
    } 
    .zoom{
        display: block;
        left: 600px;
    width: 61px;
    height: 61px;
    }
    .light{
        position: absolute;
        left: 100px;
        bottom: 550px;
        width: 61px;
        height: 61px;
    }
    .bookmark{
        position: absolute;
        left: 20px;
        bottom: 0px;
        width: 61px;
        height: 91px;
    }
}

@media screen and (min-width: 1024px){
    .form{
        justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    width: 50%;
    }
    .email{
        width: 470px;
    }

    .hidden{
        width: 470px;
    }

    .light{
        position: absolute;
        left: 220px;
        bottom: 550px;
        width: 61px;
        height: 61px;
    }
.code{
    display:block;
    left: 800px;
    bottom: 500px;
    width: 51px;
    height: 51px;
} 

.eye{
    right: 25%;
    padding-top: 13px;
    padding-right: 30px;
}
.zoom{
    display: block;
    left: 800px;
bottom: 100px;
width: 61px;
height: 61px;
}
.bookmark{
    position: absolute;
    left: 200px;
    bottom: 0px;
    width: 61px;
    height: 91px;
}
.documents{
    display: block;
    left: 150px;
    bottom: 150px;
    width: 61px;
    height: 82px;
}
}

@media screen and (min-width:1440px){
    .form{
        justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    width: 40%;
    }
    .email{
        width: 550px;
    }

    .hidden{
        width: 550px;
    }

    .eye{
        right: 30%;
        padding-top: 13px;
        padding-right: 30px;
    }

    .code{
        display: block;
        left: 1200px;
        bottom: 550px;
        width: 51px;
        height: 51px;
    } 

    .zoom{
        display: block;
        left: 1200px;
    bottom: 0px;
    width: 61px;
    height: 61px;
    }
    .light{
        position: absolute;
        left: 350px;
        bottom: 550px;
        width: 61px;
        height: 61px;
    }
}

    @media screen and (min-width:1500px){
        .eye{
            right: 31%;
            padding-top: 13px;
            padding-right: 30px;
        }

        .email{
            width: 580px;
        }
    
        .hidden{
            width: 580px;
        }
    }
